body {
  margin: 0;
  text-align: center;
  background-color: #f1fcfc;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h1+p {
  color: #66BFBF;
  font-size: 1.8rem;
  margin: 10px auto 0 auto;
  font-weight: normal;
  line-height: normal;
}

h2 {
  color: #66BFBF;
  font-size: 2rem;
  margin: 20px auto 0 auto;
  font-weight: normal;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-size: 1.5rem;
  margin: 0 auto 0 auto;
  font-weight: normal;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  border-color: #deddfa;
  width: 15%;
}

a {
  color: #11999E;
}

img {
  margin: 0 auto 0 auto;
}
.top-cloud {
  position: relative;
  left: 30%;
  bottom: 20px;
}

.bottom-cloud {
  position: relative;
  right: 30%;
  top: 30px;
}


.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 90px;
  padding-bottom: 60px;
}

.in_contact{
  margin: 10px auto 10px auto;
}



.profile_pic {
  border-radius: 19%;
  margin: 30px auto 15px auto;
}

.middle_container {
  background-color: #f1fcfc;
  margin: 0 0 0 0;
  padding-bottom: 40px;
}

.bottom_container {
  background-color: #EAF6F6;
  margin: 0 0 0 0;
  padding-top: 10px;
}

.contact_button{
  text-align: center;
  color: white;
  background-color: #66BFBF;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 5%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.contact_button:hover{
  text-align: center;
  color: white;
  background-color: #66BFBF;
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 5%;
  border: 2px solid black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

p {
  padding-bottom: 20px;
  margin-bottom: 0;
}

.icons_credit {
  margin: 20px auto 10px auto;
}

.footer_link {
  font-size: 1.3rem;
  margin: 0 10px 5px 10px;
}

.footer_link:hover {
  background: #e1f2fb;
}

.footer_paragraph{
  display: inline;
  font-size: 1.3rem;
}
 .profile{
   width: 40%;
   margin: 0 auto 0 auto;
 }
.contact_me{
  width: 40%;
  margin: 0 auto 0 auto;
}
.skills_heading{
  margin: 20px auto 10px auto;
}

.skills_table{
  width: 90%;
  margin: 0 auto 0 auto;

}
td{
  padding: 10px;
}
